################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*/project.lock.json
*/bin
*/obj
/VsTeXCommentsExtension/VsTeXCommentsExtension.nuget.targets
/VsTeXCommentsExtension/VsTeXCommentsExtension.nuget.props
/.vs