<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules" Description="Rules" ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0001" Action="None" />
    <Rule Id="CC0002" Action="None" />
    <Rule Id="CC0003" Action="None" />
    <Rule Id="CC0004" Action="None" />
    <Rule Id="CC0005" Action="None" />
    <Rule Id="CC0006" Action="None" />
    <Rule Id="CC0007" Action="None" />
    <Rule Id="CC0008" Action="None" />
    <Rule Id="CC0009" Action="None" />
    <Rule Id="CC0010" Action="None" />
    <Rule Id="CC0011" Action="None" />
    <Rule Id="CC0012" Action="Warning" />
    <Rule Id="CC0013" Action="None" />
    <Rule Id="CC0014" Action="None" />
    <Rule Id="CC0015" Action="None" />
    <Rule Id="CC0016" Action="None" />
    <Rule Id="CC0017" Action="None" />
    <Rule Id="CC0018" Action="None" />
    <Rule Id="CC0019" Action="None" />
    <Rule Id="CC0020" Action="None" />
    <Rule Id="CC0021" Action="Info" />
    <Rule Id="CC0022" Action="None" />
    <Rule Id="CC0023" Action="None" />
    <Rule Id="CC0024" Action="None" />
    <Rule Id="CC0025" Action="None" />
    <Rule Id="CC0026" Action="None" />
    <Rule Id="CC0029" Action="None" />
    <Rule Id="CC0030" Action="Warning" />
    <Rule Id="CC0031" Action="None" />
    <Rule Id="CC0032" Action="None" />
    <Rule Id="CC0033" Action="None" />
    <Rule Id="CC0034" Action="None" />
    <Rule Id="CC0035" Action="None" />
    <Rule Id="CC0037" Action="None" />
    <Rule Id="CC0038" Action="Hidden" />
    <Rule Id="CC0039" Action="None" />
    <Rule Id="CC0042" Action="None" />
    <Rule Id="CC0043" Action="None" />
    <Rule Id="CC0044" Action="None" />
    <Rule Id="CC0045" Action="None" />
    <Rule Id="CC0046" Action="None" />
    <Rule Id="CC0047" Action="None" />
    <Rule Id="CC0048" Action="Hidden" />
    <Rule Id="CC0049" Action="None" />
    <Rule Id="CC0052" Action="None" />
    <Rule Id="CC0054" Action="None" />
    <Rule Id="CC0056" Action="None" />
    <Rule Id="CC0057" Action="None" />
    <Rule Id="CC0060" Action="None" />
    <Rule Id="CC0061" Action="None" />
    <Rule Id="CC0062" Action="None" />
    <Rule Id="CC0063" Action="None" />
    <Rule Id="CC0064" Action="None" />
    <Rule Id="CC0065" Action="None" />
    <Rule Id="CC0067" Action="None" />
    <Rule Id="CC0068" Action="None" />
    <Rule Id="CC0070" Action="None" />
    <Rule Id="CC0071" Action="Hidden" />
    <Rule Id="CC0072" Action="None" />
    <Rule Id="CC0073" Action="None" />
    <Rule Id="CC0074" Action="None" />
    <Rule Id="CC0075" Action="None" />
    <Rule Id="CC0076" Action="None" />
    <Rule Id="CC0079" Action="None" />
    <Rule Id="CC0081" Action="None" />
    <Rule Id="CC0082" Action="None" />
    <Rule Id="CC0084" Action="None" />
    <Rule Id="CC0088" Action="None" />
    <Rule Id="CC0089" Action="None" />
    <Rule Id="CC0090" Action="None" />
    <Rule Id="CC0091" Action="None" />
    <Rule Id="CC0092" Action="None" />
    <Rule Id="CC0095" Action="None" />
    <Rule Id="CC0097" Action="None" />
    <Rule Id="CC0105" Action="None" />
    <Rule Id="CC0111" Action="None" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="CS0126ReturnMustBeFollowedByAnyExpression" Action="None" />
    <Rule Id="CS0169FieldIsNeverUsedAnalyzer" Action="None" />
    <Rule Id="CS0183ExpressionIsAlwaysOfProvidedTypeAnalyzer" Action="None" />
    <Rule Id="CS0618UsageOfObsoleteMemberAnalyzer" Action="None" />
    <Rule Id="CS1573ParameterHasNoMatchingParamTagAnalyzer" Action="None" />
    <Rule Id="CS1717AssignmentMadeToSameVariableAnalyzer" Action="None" />
    <Rule Id="CS1729TypeHasNoConstructorWithNArgumentsAnalyzer" Action="None" />
    <Rule Id="InconsistentNaming" Action="None" />
    <Rule Id="ProhibitedModifiersAnalyzer" Action="None" />
    <Rule Id="RECS0001" Action="None" />
    <Rule Id="RECS0002" Action="None" />
    <Rule Id="RECS0003" Action="None" />
    <Rule Id="RECS0004" Action="Warning" />
    <Rule Id="RECS0005" Action="Warning" />
    <Rule Id="RECS0006" Action="None" />
    <Rule Id="RECS0007" Action="None" />
    <Rule Id="RECS0008" Action="Warning" />
    <Rule Id="RECS0009" Action="None" />
    <Rule Id="RECS0010" Action="None" />
    <Rule Id="RECS0012" Action="None" />
    <Rule Id="RECS0013" Action="None" />
    <Rule Id="RECS0014" Action="Warning" />
    <Rule Id="RECS0015" Action="None" />
    <Rule Id="RECS0016" Action="None" />
    <Rule Id="RECS0017" Action="None" />
    <Rule Id="RECS0018" Action="None" />
    <Rule Id="RECS0019" Action="None" />
    <Rule Id="RECS0020" Action="Warning" />
    <Rule Id="RECS0021" Action="None" />
    <Rule Id="RECS0022" Action="None" />
    <Rule Id="RECS0023" Action="Warning" />
    <Rule Id="RECS0024" Action="None" />
    <Rule Id="RECS0025" Action="None" />
    <Rule Id="RECS0026" Action="None" />
    <Rule Id="RECS0027" Action="None" />
    <Rule Id="RECS0028" Action="None" />
    <Rule Id="RECS0029" Action="None" />
    <Rule Id="RECS0030" Action="None" />
    <Rule Id="RECS0031" Action="None" />
    <Rule Id="RECS0032" Action="None" />
    <Rule Id="RECS0033" Action="None" />
    <Rule Id="RECS0034" Action="None" />
    <Rule Id="RECS0035" Action="None" />
    <Rule Id="RECS0036" Action="None" />
    <Rule Id="RECS0037" Action="None" />
    <Rule Id="RECS0038" Action="None" />
    <Rule Id="RECS0039" Action="None" />
    <Rule Id="RECS0040" Action="None" />
    <Rule Id="RECS0041" Action="None" />
    <Rule Id="RECS0042" Action="None" />
    <Rule Id="RECS0043" Action="None" />
    <Rule Id="RECS0044" Action="None" />
    <Rule Id="RECS0045" Action="None" />
    <Rule Id="RECS0046" Action="None" />
    <Rule Id="RECS0047" Action="None" />
    <Rule Id="RECS0048" Action="None" />
    <Rule Id="RECS0049" Action="None" />
    <Rule Id="RECS0050" Action="None" />
    <Rule Id="RECS0051" Action="None" />
    <Rule Id="RECS0052" Action="None" />
    <Rule Id="RECS0053" Action="None" />
    <Rule Id="RECS0054" Action="None" />
    <Rule Id="RECS0055" Action="None" />
    <Rule Id="RECS0056" Action="None" />
    <Rule Id="RECS0057" Action="None" />
    <Rule Id="RECS0058" Action="None" />
    <Rule Id="RECS0059" Action="None" />
    <Rule Id="RECS0060" Action="None" />
    <Rule Id="RECS0061" Action="None" />
    <Rule Id="RECS0062" Action="None" />
    <Rule Id="RECS0063" Action="None" />
    <Rule Id="RECS0064" Action="None" />
    <Rule Id="RECS0065" Action="None" />
    <Rule Id="RECS0066" Action="None" />
    <Rule Id="RECS0067" Action="None" />
    <Rule Id="RECS0068" Action="None" />
    <Rule Id="RECS0069" Action="None" />
    <Rule Id="RECS0070" Action="None" />
    <Rule Id="RECS0071" Action="None" />
    <Rule Id="RECS0072" Action="None" />
    <Rule Id="RECS0073" Action="None" />
    <Rule Id="RECS0074" Action="None" />
    <Rule Id="RECS0075" Action="None" />
    <Rule Id="RECS0076" Action="None" />
    <Rule Id="RECS0077" Action="None" />
    <Rule Id="RECS0078" Action="None" />
    <Rule Id="RECS0079" Action="None" />
    <Rule Id="RECS0080" Action="None" />
    <Rule Id="RECS0081" Action="None" />
    <Rule Id="RECS0082" Action="None" />
    <Rule Id="RECS0083" Action="None" />
    <Rule Id="RECS0084" Action="None" />
    <Rule Id="RECS0085" Action="None" />
    <Rule Id="RECS0086" Action="None" />
    <Rule Id="RECS0087" Action="None" />
    <Rule Id="RECS0088" Action="None" />
    <Rule Id="RECS0089" Action="None" />
    <Rule Id="RECS0090" Action="None" />
    <Rule Id="RECS0091" Action="None" />
    <Rule Id="RECS0092" Action="None" />
    <Rule Id="RECS0093" Action="None" />
    <Rule Id="RECS0094" Action="None" />
    <Rule Id="RECS0095" Action="None" />
    <Rule Id="RECS0096" Action="None" />
    <Rule Id="RECS0098" Action="None" />
    <Rule Id="RECS0099" Action="None" />
    <Rule Id="RECS0100" Action="None" />
    <Rule Id="RECS0101" Action="None" />
    <Rule Id="RECS0102" Action="None" />
    <Rule Id="RECS0103" Action="None" />
    <Rule Id="RECS0104" Action="None" />
    <Rule Id="RECS0106" Action="None" />
    <Rule Id="RECS0107" Action="None" />
    <Rule Id="RECS0108" Action="None" />
    <Rule Id="RECS0109" Action="None" />
    <Rule Id="RECS0110" Action="None" />
    <Rule Id="RECS0111" Action="None" />
    <Rule Id="RECS0112" Action="None" />
    <Rule Id="RECS0113" Action="None" />
    <Rule Id="RECS0114" Action="None" />
    <Rule Id="RECS0115" Action="None" />
    <Rule Id="RECS0116" Action="None" />
    <Rule Id="RECS0117" Action="None" />
    <Rule Id="RECS0118" Action="Warning" />
    <Rule Id="RECS0119" Action="None" />
    <Rule Id="RECS0120" Action="None" />
    <Rule Id="RECS0121" Action="None" />
    <Rule Id="RECS0122" Action="None" />
    <Rule Id="RECS0123" Action="None" />
    <Rule Id="RECS0124" Action="None" />
    <Rule Id="RECS0125" Action="None" />
    <Rule Id="RECS0126" Action="None" />
    <Rule Id="RECS0127" Action="Warning" />
    <Rule Id="RECS0128" Action="None" />
    <Rule Id="RECS0129" Action="None" />
    <Rule Id="RECS0130" Action="None" />
    <Rule Id="RECS0131" Action="None" />
    <Rule Id="RECS0132" Action="None" />
    <Rule Id="RECS0133" Action="None" />
    <Rule Id="RECS0134" Action="None" />
    <Rule Id="RECS0135" Action="None" />
    <Rule Id="RECS0136" Action="None" />
    <Rule Id="RECS0137" Action="None" />
    <Rule Id="RECS0138" Action="None" />
    <Rule Id="RECS0139" Action="None" />
    <Rule Id="RECS0140" Action="None" />
    <Rule Id="RECS0141" Action="None" />
    <Rule Id="RECS0142" Action="None" />
    <Rule Id="RECS0143" Action="None" />
    <Rule Id="RECS0144" Action="None" />
    <Rule Id="RECS0145" Action="None" />
    <Rule Id="RECS0146" Action="None" />
    <Rule Id="RECS0147" Action="None" />
    <Rule Id="RECS0148" Action="None" />
    <Rule Id="RECS0149" Action="None" />
    <Rule Id="RECS0152" Action="None" />
    <Rule Id="RECS0153" Action="None" />
    <Rule Id="RECS0154" Action="None" />
    <Rule Id="RECS0155" Action="None" />
    <Rule Id="RECS0156" Action="None" />
    <Rule Id="RECS0157" Action="Warning" />
    <Rule Id="RECS0158" Action="None" />
    <Rule Id="RECS0159" Action="None" />
    <Rule Id="RECS0161" Action="None" />
    <Rule Id="RECS0162" Action="None" />
    <Rule Id="RECS0163" Action="None" />
    <Rule Id="RECS0164" Action="None" />
    <Rule Id="RECS0165" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1000" Action="Info" />
    <Rule Id="SA1001" Action="Info" />
    <Rule Id="SA1002" Action="Info" />
    <Rule Id="SA1003" Action="Info" />
    <Rule Id="SA1004" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1006" Action="Info" />
    <Rule Id="SA1007" Action="Info" />
    <Rule Id="SA1008" Action="Info" />
    <Rule Id="SA1009" Action="Info" />
    <Rule Id="SA1010" Action="Info" />
    <Rule Id="SA1011" Action="Info" />
    <Rule Id="SA1012" Action="Info" />
    <Rule Id="SA1013" Action="Info" />
    <Rule Id="SA1014" Action="Info" />
    <Rule Id="SA1015" Action="Info" />
    <Rule Id="SA1016" Action="Info" />
    <Rule Id="SA1017" Action="Info" />
    <Rule Id="SA1018" Action="Info" />
    <Rule Id="SA1019" Action="Info" />
    <Rule Id="SA1020" Action="Info" />
    <Rule Id="SA1021" Action="Info" />
    <Rule Id="SA1022" Action="Info" />
    <Rule Id="SA1023" Action="Info" />
    <Rule Id="SA1024" Action="Info" />
    <Rule Id="SA1025" Action="Info" />
    <Rule Id="SA1026" Action="Info" />
    <Rule Id="SA1027" Action="Info" />
    <Rule Id="SA1028" Action="Info" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="None" />
    <Rule Id="SA1103" Action="None" />
    <Rule Id="SA1104" Action="None" />
    <Rule Id="SA1105" Action="None" />
    <Rule Id="SA1106" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1110" Action="Warning" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1112" Action="None" />
    <Rule Id="SA1113" Action="None" />
    <Rule Id="SA1114" Action="None" />
    <Rule Id="SA1115" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1119" Action="Warning" />
    <Rule Id="SA1120" Action="None" />
    <Rule Id="SA1121" Action="Warning" />
    <Rule Id="SA1122" Action="Warning" />
    <Rule Id="SA1123" Action="Warning" />
    <Rule Id="SA1124" Action="Hidden" />
    <Rule Id="SA1125" Action="Warning" />
    <Rule Id="SA1127" Action="Warning" />
    <Rule Id="SA1128" Action="Warning" />
    <Rule Id="SA1129" Action="Warning" />
    <Rule Id="SA1130" Action="Warning" />
    <Rule Id="SA1131" Action="Warning" />
    <Rule Id="SA1132" Action="None" />
    <Rule Id="SA1133" Action="Warning" />
    <Rule Id="SA1134" Action="Warning" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="Warning" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1205" Action="Warning" />
    <Rule Id="SA1206" Action="Warning" />
    <Rule Id="SA1207" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1209" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1211" Action="None" />
    <Rule Id="SA1212" Action="Warning" />
    <Rule Id="SA1213" Action="Warning" />
    <Rule Id="SA1214" Action="Warning" />
    <Rule Id="SA1215" Action="None" />
    <Rule Id="SA1216" Action="None" />
    <Rule Id="SA1217" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1302" Action="Warning" />
    <Rule Id="SA1303" Action="Warning" />
    <Rule Id="SA1304" Action="Warning" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1307" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="Warning" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="Warning" />
    <Rule Id="SA1312" Action="Warning" />
    <Rule Id="SA1313" Action="Warning" />
    <Rule Id="SA1400" Action="Warning" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1402" Action="Hidden" />
    <Rule Id="SA1403" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1406" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="Warning" />
    <Rule Id="SA1410" Action="None" />
    <Rule Id="SA1411" Action="None" />
    <Rule Id="SA1500" Action="Warning" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1505" Action="Info" />
    <Rule Id="SA1506" Action="None" />
    <Rule Id="SA1507" Action="None" />
    <Rule Id="SA1508" Action="Info" />
    <Rule Id="SA1509" Action="Info" />
    <Rule Id="SA1510" Action="Warning" />
    <Rule Id="SA1511" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1517" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1520" Action="Warning" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1644" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1651" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>