<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules" Description="Rules" ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1045" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1504" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1700" Action="None" />
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1713" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1719" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1722" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA1903" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2001" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2102" Action="None" />
    <Rule Id="CA2103" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2105" Action="None" />
    <Rule Id="CA2106" Action="None" />
    <Rule Id="CA2107" Action="None" />
    <Rule Id="CA2108" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2111" Action="None" />
    <Rule Id="CA2112" Action="None" />
    <Rule Id="CA2114" Action="None" />
    <Rule Id="CA2115" Action="None" />
    <Rule Id="CA2116" Action="None" />
    <Rule Id="CA2117" Action="None" />
    <Rule Id="CA2118" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2120" Action="None" />
    <Rule Id="CA2121" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2124" Action="None" />
    <Rule Id="CA2126" Action="None" />
    <Rule Id="CA2130" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2135" Action="None" />
    <Rule Id="CA2136" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2139" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2142" Action="None" />
    <Rule Id="CA2143" Action="None" />
    <Rule Id="CA2144" Action="None" />
    <Rule Id="CA2145" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2151" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2233" Action="None" />
    <Rule Id="CA5122" Action="None" />
    <Rule Id="RSJ_CA7001" Action="None" />
    <Rule Id="RSJ_CA7002" Action="None" />
    <Rule Id="RSJ_CA7003" Action="None" />
    <Rule Id="RSJ_CA7004" Action="None" />
    <Rule Id="RSJ_CA7005" Action="None" />
    <Rule Id="RSJ_CA7006" Action="None" />
    <Rule Id="RSJ_CA7007" Action="None" />
    <Rule Id="RSJ_CA7008" Action="None" />
    <Rule Id="RSJ_CA7009" Action="None" />
    <Rule Id="RSJ_CA7010" Action="None" />
  </Rules>
  <Rules AnalyzerId="Rsj.Common2.CodeAnalysisAnalyzers" RuleNamespace="Rsj.Common2.CodeAnalysisAnalyzers">
    <Rule Id="RSJ_DestroyMeasureObtainSnapshotsAnalyzer" Action="None" />
    <Rule Id="RSJ_DestroyMeasureInitDependenciesAnalyzer" Action="None" />
    <Rule Id="RSJ_AddMeasureIdAssignmentAttributeToMeasureAnalyzer" Action="None" />
    <Rule Id="RSJ_MathPow" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1000" Action="Info" />
    <Rule Id="SA1001" Action="Info" />
    <Rule Id="SA1002" Action="Info" />
    <Rule Id="SA1003" Action="Info" />
    <Rule Id="SA1004" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1006" Action="Info" />
    <Rule Id="SA1007" Action="Info" />
    <Rule Id="SA1008" Action="Info" />
    <Rule Id="SA1009" Action="Info" />
    <Rule Id="SA1010" Action="Info" />
    <Rule Id="SA1011" Action="Info" />
    <Rule Id="SA1012" Action="Info" />
    <Rule Id="SA1013" Action="Info" />
    <Rule Id="SA1014" Action="Info" />
    <Rule Id="SA1015" Action="Info" />
    <Rule Id="SA1016" Action="Info" />
    <Rule Id="SA1017" Action="Info" />
    <Rule Id="SA1018" Action="Info" />
    <Rule Id="SA1019" Action="Info" />
    <Rule Id="SA1020" Action="Info" />
    <Rule Id="SA1021" Action="Info" />
    <Rule Id="SA1022" Action="Info" />
    <Rule Id="SA1023" Action="Info" />
    <Rule Id="SA1024" Action="Info" />
    <Rule Id="SA1025" Action="Info" />
    <Rule Id="SA1026" Action="Info" />
    <Rule Id="SA1027" Action="Info" />
    <Rule Id="SA1028" Action="Info" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="None" />
    <Rule Id="SA1103" Action="None" />
    <Rule Id="SA1104" Action="None" />
    <Rule Id="SA1105" Action="None" />
    <Rule Id="SA1106" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1110" Action="Warning" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1112" Action="None" />
    <Rule Id="SA1113" Action="None" />
    <Rule Id="SA1114" Action="None" />
    <Rule Id="SA1115" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1119" Action="Warning" />
    <Rule Id="SA1120" Action="None" />
    <Rule Id="SA1121" Action="Warning" />
    <Rule Id="SA1122" Action="Warning" />
    <Rule Id="SA1123" Action="Warning" />
    <Rule Id="SA1124" Action="Hidden" />
    <Rule Id="SA1125" Action="Warning" />
    <Rule Id="SA1127" Action="Warning" />
    <Rule Id="SA1128" Action="Warning" />
    <Rule Id="SA1129" Action="Warning" />
    <Rule Id="SA1130" Action="Warning" />
    <Rule Id="SA1131" Action="Warning" />
    <Rule Id="SA1132" Action="None" />
    <Rule Id="SA1133" Action="Warning" />
    <Rule Id="SA1134" Action="Warning" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="Warning" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1205" Action="Warning" />
    <Rule Id="SA1206" Action="Warning" />
    <Rule Id="SA1207" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1209" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1211" Action="None" />
    <Rule Id="SA1212" Action="Warning" />
    <Rule Id="SA1213" Action="Warning" />
    <Rule Id="SA1214" Action="Warning" />
    <Rule Id="SA1215" Action="None" />
    <Rule Id="SA1216" Action="None" />
    <Rule Id="SA1217" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1302" Action="Warning" />
    <Rule Id="SA1303" Action="Warning" />
    <Rule Id="SA1304" Action="Warning" />
    <Rule Id="SA1305" Action="None" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1307" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="Warning" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="Warning" />
    <Rule Id="SA1312" Action="Warning" />
    <Rule Id="SA1313" Action="None" />
    <Rule Id="SA1400" Action="Warning" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1402" Action="Hidden" />
    <Rule Id="SA1403" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1406" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="Warning" />
    <Rule Id="SA1410" Action="None" />
    <Rule Id="SA1411" Action="None" />
    <Rule Id="SA1412" Action="None" />
    <Rule Id="SA1500" Action="Warning" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1505" Action="Info" />
    <Rule Id="SA1506" Action="None" />
    <Rule Id="SA1507" Action="None" />
    <Rule Id="SA1508" Action="Info" />
    <Rule Id="SA1509" Action="Info" />
    <Rule Id="SA1510" Action="Warning" />
    <Rule Id="SA1511" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1517" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1520" Action="Warning" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1639" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1644" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1651" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1309" Action="None" />
    <Rule Id="SX1309S" Action="None" />
  </Rules>
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0001" Action="None" />
    <Rule Id="CC0002" Action="None" />
    <Rule Id="CC0003" Action="None" />
    <Rule Id="CC0004" Action="None" />
    <Rule Id="CC0005" Action="None" />
    <Rule Id="CC0006" Action="None" />
    <Rule Id="CC0007" Action="None" />
    <Rule Id="CC0008" Action="None" />
    <Rule Id="CC0009" Action="None" />
    <Rule Id="CC0010" Action="None" />
    <Rule Id="CC0011" Action="None" />
    <Rule Id="CC0012" Action="None" />
    <Rule Id="CC0013" Action="None" />
    <Rule Id="CC0014" Action="None" />
    <Rule Id="CC0015" Action="None" />
    <Rule Id="CC0016" Action="None" />
    <Rule Id="CC0017" Action="None" />
    <Rule Id="CC0018" Action="None" />
    <Rule Id="CC0019" Action="None" />
    <Rule Id="CC0020" Action="None" />
    <Rule Id="CC0021" Action="Info" />
    <Rule Id="CC0022" Action="None" />
    <Rule Id="CC0023" Action="None" />
    <Rule Id="CC0024" Action="None" />
    <Rule Id="CC0025" Action="None" />
    <Rule Id="CC0026" Action="None" />
    <Rule Id="CC0029" Action="None" />
    <Rule Id="CC0030" Action="Warning" />
    <Rule Id="CC0031" Action="None" />
    <Rule Id="CC0032" Action="None" />
    <Rule Id="CC0033" Action="None" />
    <Rule Id="CC0034" Action="None" />
    <Rule Id="CC0035" Action="None" />
    <Rule Id="CC0037" Action="None" />
    <Rule Id="CC0038" Action="Hidden" />
    <Rule Id="CC0039" Action="None" />
    <Rule Id="CC0042" Action="None" />
    <Rule Id="CC0043" Action="None" />
    <Rule Id="CC0044" Action="None" />
    <Rule Id="CC0045" Action="None" />
    <Rule Id="CC0046" Action="None" />
    <Rule Id="CC0047" Action="None" />
    <Rule Id="CC0048" Action="Hidden" />
    <Rule Id="CC0049" Action="None" />
    <Rule Id="CC0052" Action="None" />
    <Rule Id="CC0054" Action="None" />
    <Rule Id="CC0056" Action="None" />
    <Rule Id="CC0057" Action="None" />
    <Rule Id="CC0060" Action="None" />
    <Rule Id="CC0061" Action="None" />
    <Rule Id="CC0062" Action="None" />
    <Rule Id="CC0063" Action="None" />
    <Rule Id="CC0064" Action="None" />
    <Rule Id="CC0065" Action="None" />
    <Rule Id="CC0067" Action="None" />
    <Rule Id="CC0068" Action="None" />
    <Rule Id="CC0070" Action="None" />
    <Rule Id="CC0071" Action="None" />
    <Rule Id="CC0072" Action="None" />
    <Rule Id="CC0073" Action="None" />
    <Rule Id="CC0074" Action="None" />
    <Rule Id="CC0075" Action="None" />
    <Rule Id="CC0076" Action="None" />
    <Rule Id="CC0079" Action="None" />
    <Rule Id="CC0081" Action="None" />
    <Rule Id="CC0082" Action="None" />
    <Rule Id="CC0084" Action="None" />
    <Rule Id="CC0088" Action="None" />
    <Rule Id="CC0089" Action="None" />
    <Rule Id="CC0090" Action="None" />
    <Rule Id="CC0091" Action="None" />
    <Rule Id="CC0092" Action="None" />
    <Rule Id="CC0095" Action="None" />
    <Rule Id="CC0105" Action="None" />
    <Rule Id="CC0108" Action="None" />
    <Rule Id="CC0111" Action="None" />
    <Rule Id="CC0097" Action="None" />
  </Rules>
</RuleSet>